<!DOCTYPE html>
<!---->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"> 
        <title>The Good Tree</title>       
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <!-- Inicio de banner principal -->
        <article>
            <img class="banner" src="img/Banner1.png" alt="Banner APPS"/> <!---- Remplazar por img de la DB------>
        </article>
        <!-- Fin de banner principal -->
        <!-- Inicio de bloque de introducción -->
        <article class="article-txt-img">
            <img class="art-img" src="img/WebApps.png" alt="APPS"/>
            <div class="art-text">
                <h2>Soluciones Tecnológicas</h2>
                <br>
                <p>La competitividad del mercado ha aumentado radicalmente y la imágen de su empresa es indispensable,
                    Las herramientas con las cuales sus colaboradores necesitan trabajar deben ser lo más sencillas y complementarias
                    según su área por lo cual nosotros les brindamos herramientas ajustadas a su medida.</p>
            </div>
        </article>
        <!-- Fin de bloque de introducción -->
        <!-- Inicio de bloque de galería -->
        <section class="secction-list">
            <div>
                <h2>SERVICIOS Y SOLUCIONES</h2>
            </div>
            <article>
                <div class="div-txt-img-box">
                    <a href="mantenimiento.html"><img class="art-img-box" src="img/Mantenimiento.png" alt="Mantenimiento"/></a>
                    <a href="movil_apps.html"><img class="art-img-box" src="img/MovilAPP.png" alt="Movil Apps"/></a>
                    <a href="paginas_web.html"><img class="art-img-box" src="img/WebAPP.png" alt="Web Apps"/></a>
                    <a href="mantenimiento.html"><img class="art-img-box" src="img/Mantenimiento.png" alt="Mantenimiento"/></a>
                    <a href="movil_apps.html"><img class="art-img-box" src="img/MovilAPP.png" alt="Movil Apps"/></a>
                </div>
                <div class="div-txt-img-box">
                    <a href="mantenimiento.html"><img class="art-img-box" src="img/Mantenimiento.png" alt="Mantenimiento"/></a>
                    <a href="movil_apps.html"><img class="art-img-box" src="img/MovilAPP.png" alt="Movil Apps"/></a>
                    <a href="paginas_web.html"><img class="art-img-box" src="img/WebAPP.png" alt="Web Apps"/></a>
                    <a href="mantenimiento.html"><img class="art-img-box" src="img/Mantenimiento.png" alt="Mantenimiento"/></a>
                    <a href="movil_apps.html"><img class="art-img-box" src="img/MovilAPP.png" alt="Movil Apps"/></a>
                </div>
            </article>
        </section>
        <!-- Inicio de bloque de galería -->
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
