<!DOCTYPE html>
<!---->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"> 
        <title>The Good Tree</title>       
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <!-- Inicio de banner principal -->
        <article>
            <img class="banner"/> <!----Remplazar por img de la DB------>
        </article>
        <!-- Fin de banner principal -->
        <!-- Inicio de bloque de introducción -->
        <article class="article-txt-img">
            <div class="art-text">
                <h2>Soluciones Tecnológicas</h2>
                <br>
                <p>La competitividad del mercado ha aumentado radicalmente y la imágen de su empresa es indispensable,
                    Las herramientas con las cuales sus colaboradores necesitan trabajar deben ser lo más sencillas y complementarias
                    según su área por lo cual nosotros les brindamos herramientas ajustadas a su medida.</p>
                    <h4>IMPORTANCIA DE LOS ARBOLES PARA EL SER HUMANO</h4>
                    <p>
                        Los árboles desempeñan un papel fundamental en la vida de los seres humanos al ofrecer una amplia gama de beneficios esenciales. 
                        Desde una perspectiva de subsistencia, los árboles son verdaderos aliados. 
                        Producen oxígeno a través de la fotosíntesis, lo que garantiza un aire respirable para la humanidad y, al mismo tiempo, absorben dióxido de carbono, contribuyendo a la regulación del clima y la reducción del efecto invernadero. Los árboles proporcionan madera, alimento, y una diversidad de productos forestales que son vitales para la supervivencia humana. Además, los árboles desempeñan un papel crucial en la estética y la calidad de vida en las zonas urbanas. Al adornar las ciudades y los paisajes urbanos, mejoran la calidad estética y la salud emocional de los habitantes. Los árboles en las áreas urbanas no solo ofrecen sombra y alivio en días calurosos, sino que también actúan como filtros naturales del aire y reducen la contaminación, proporcionando un ambiente más saludable para las personas. Contribuyen a la disminución de la temperatura en el concreto de las ciudades y ayudan a mitigar los efectos de la contaminación acústica. 
                        Los parques y áreas verdes urbanas, ricas en árboles, son lugares de recreación, contemplación y encuentro, mejorando la calidad de vida de los ciudadanos. En resumen, la importancia de los árboles para la subsistencia y la mejora del entorno urbano es innegable. Su capacidad de proveer recursos esenciales para la vida y su capacidad de embellecer y enriquecer las zonas urbanas los convierte en un tesoro invaluable para la humanidad. La conservación y el fomento de los árboles son cruciales para un futuro sostenible y saludable tanto a nivel global como local. <p>
            </div>
        </article>
        <!-- Inicio de bloque de galería -->
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
